*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background: rgb(44, 59, 99)
}

.contenedor{
    width: 96%;
    max-width: 1900px;
    overflow: hidden;
    margin: 20px auto;
}

header a{
    color: white;
        
}

header nav{
    width: 100%;
    
}

header nav a{
    display: inline-block;
    padding: 1%;
    text-decoration: none;
            
}

header nav a:hover{
    color: rgb(221, 233, 59);
}

.main{
    width: 70%;
    float: left;
    background: rgb(121, 159, 209);
    
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.widget ul li{
    list-style: none;
}

.main .posts{
    font-size: 20px;
}

.main .posts article h2{
    margin: 20px 0;
}

.main .posts article p{
    margin-top: 20px;
    font-style: italic;
    line-height: 20px;
}

aside{
    width: 30%;
    float: left;
    overflow: hidden;
}

footer{
    width: 70%;
}

aside .widget {
    color: rgb(243, 227, 10);
    margin-bottom: 20%;
    background-color: tomato;
    
}

aside .widget h3{
    color: white;
    margin-bottom: 5%;
    background-color: tomato;
    
}

aside .widget .titulo{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid white;
}

aside .widget ul a{
    text-decoration: none;
    color: rgb(244, 248, 11);
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(20, 30, 187, 0.8);

}

aside .widget ul a li{
    margin: 10px 0;
}

aside .widget ul a:hover{
    color: royalblue;
}

aside .widget p{
    line-height: 30px;
    margin-top: 30px;
    
}

footer{
    width: 70;
    color: white;
    background-color: black;
    
}

footer p{
    text-align: center;
    padding: 20px 0;

}
